<!DOCTYPE html>
<html>
<head>
	<title>Update User</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/users">User Index</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<h2>User Profile</h2>
		<form action="/users/<%=user.id%>?_method=PUT" method="POST">
			Username: <input type="text" name="name" value="<%=user.name%>"><br>
			Password: <input type="text" name="password" value=""><br>
			<button type="submit">Update User</button>
		</form>
	</main>
</body>
</html>