<!DOCTYPE html>
<html>
<head>
	<title>User Page</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/users">User Index Page</a></li>
				<li><a href="/users/<%=user.id%>/edit">Edit User?</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h2>User Profile</h2>
			Name: <%=user.name%>
		</section>
		<section>
			<h2>User's Images</h2>
			<% for (let i = 0; i < user.img.length; i++) { -%>
				<a href=""><img src="<%=user.img[i].img%>"></a>
			<% } -%>
			<br>
			<form action="/users/<%=user.id%>?_method=DELETE" method="POST">
				<input type="submit" value="Delete User">
			</form>
		</section>
	</main>
</body>
</html>